<ion-view view-title="auto调查">
    <ion-content class="view-body index-body">
        <div class="bg-img">
            <img src="images/m-bg.jpg" alt=""/>
        </div>
        <form class="bm-form" name="myform">
            <div class="yy-ares">
                <img src="images/yy.png" alt=""/>
            </div>
            <p></p>
            <div class="form-box text-center">
                <div class="row sub-item">
                    <div class="col col-20 item-name">
                        姓名：

                    </div>
                    <div class="col col-80  ">
                        <label class="item item-input">
                            <input type="text" ng-model="form.name" required/>
                        </label>
                    </div>
                </div>
                <div class="row sub-item">
                    <div class="col col-20 item-name">
                        Tel ：
                    </div>
                    <div class="col col-80 ">
                        <label class="item item-input">
                            <input type="text" ng-model="form.tel" required/>
                        </label>
                    </div>
                </div>
                <div class="row sub-item">
                    <div class="col col-20 item-name">
                        品牌：
                    </div>
                    <div class="col col-80  item-selector text-left">
                        <select ng-model="data.brand" ng-options="brand.N group by brand.L for brand in data.brandList"
                                ng-change="brandSelect(brand)" required></select>
                    </div>
                </div>
                <div class="row sub-item">
                    <div class="col col-20 item-name">
                        车系：
                    </div>
                    <div class="col col-80  item-selector text-left">
                        <select ng-model="form.series" required>
                            <option ng-repeat="series in data.seriesList">{{series.N}}</option>
                        </select>
                    </div>
                </div>
                <div class="row sub-item">
                    <div class="col col-20 item-name">
                        地区：
                    </div>
                    <div class="col col-80 item-selector text-left">
                        <select ng-model="form.area" required>
                            <option ng-repeat="area in data.areaList">{{area.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-wrap" ng-repeat="gift in data.gifts">
                <div class="col col-66 text-center gift-img">
                    <img ng-src="{{gift.url}}" alt=""/>
                </div>
                <div class="col col-33 stable">
                    das
                    <div class="gift-name stable">{{gift.name}}</div>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="gift.checked"
                               ng-click="updateSelection($index,data.gifts)">
                    </label>
                </div>
            </div>
        </form>
        <div class="row text-center" style="margin-top: 20px;">
            <div class="col col-100 " style="color: white;font-size: 13px;">
                <input type="checkbox" checked>同意成都网易汽车以电话方式通知试驾受理信息
            </div>
        </div>
        <div class="row text-center">
            <div class="col col-100">
                <button type="button" class="btn button-large" ng-click="signUp(myform.$valid)"
                        style="background-color: transparent;color: white;border-color: white;margin-top: 15px;padding-left: 20px;padding-right: 20px;">提交报名
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
